* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: transparent;
    padding: 0%;
    width: 100%;
    top: 0;
    position: fixed;
    background-image: url('../img/pizarranegraautors.jpg.png');
    z-index: 2;
}

header img {
    padding: 0%;
    width: 20.2vh;
    height: auto;
}

nav {
    background-color: rgb(185, 172, 154);
    top: 19vh;
    width: 100%;
    font-family: fantasy;
    word-spacing: 10px;
    position: fixed;
    border-top: cornsilk 3px solid;
    border-bottom: cornsilk 3px solid;
    z-index: 3;
    text-align: center;
}

nav a {
    color: black;
    font-size: larger;
}

body {
    background-image: url('../img/pizarranegra.jpg');
    background-attachment: fixed;
    font-size: larger;
    margin-top: 19vh;
}

main {
    overflow: auto;
    color: white;
    padding: 6vh;
    background-color: transparent;
    z-index: 1;
}

h4 {
    font-style: oblique;
}

footer {
    text-align: center;
    color: white;
    padding: 0%;
    width: 100%;
    margin-top: -4vh;
    margin-bottom: 10px;
    background-color: rgb(185, 172, 154);
    border-top: cornsilk 2px solid;
    border-bottom: cornsilk 2px solid;
}

footer a {
    color: white;
}

main footer {
    position: relative;
}

a {
    color:lightgrey;
}

#logo,nav,main,aside,footer{
    border: 1px solid black;
}

/* #logo,nav{height: 25vh;}
main{height: 37.5vh;}
aside{height: 12.5vh;}
footer{height: 25vh;} */

[class*="col-"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-0 {display:none;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header {
    height: 19vh;
}

footer {
    height: auto;
    position: relative;
    bottom: 0;
}

main {
    height: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    nav {
        font-size: small;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-sm-0 {display:none;}
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
    
    nav {
        display: block;
        height: auto;
    }
    
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    header {
        height: 19vh;
    }
    nav, footer {
        height: auto;
    }

}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
    
    
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}