div {
    width: 100%;
    float: inline-start;
    margin-left: 0vw;
    text-align: center;
}

iframe {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h2 {
    text-decoration: underline;
}

iframe {
    width: 62vh;
    height: 40vh;
}

.esquerra {
    float: left;
}

.dreta {
    float: right;
}

aside img {
    margin-top: 12vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .dreta,.esquerra {
        display: none;
    }

    iframe {
        width: 65vw;
        height: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .dreta,.esquerra {
        display: none;
    }

}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dreta,.esquerra {
        display: none;
    }

}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .dreta,.esquerra {
        display: none;
    }   
    
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .dreta,.esquerra {
        display: block;
    }
}